<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="pattern">%-d{yyyy-MM-dd HH:mm:ss,SSS} %-5p [%t][%c{1}] %m%n</Property>
        <Property name="log.dir">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="File" 
            fileName="${log.dir}/log.log"
			filePattern="${log.dir}/$${date:yyyy-MM}/log-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${pattern}" />
			<Policies>
                <TimeBasedTriggeringPolicy />
			    <SizeBasedTriggeringPolicy size="16 MB" />
			</Policies>
            <DefaultRolloverStrategy max="32" />
		</RollingFile>
        <Async name="AsyncFile"> 
            <AppenderRef ref="File" />
        </Async>
	</Appenders>
	<Loggers>
		<Root level="DEBUG" additivity="false">
            <AppenderRef ref="Console" level="DEBUG" />
            <AppenderRef ref="AsyncFile" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>
